In [ ]:
from pyspark import  SparkContext
sc = SparkContext()
xyz = sc.parallelize([1,2,3,4])

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at /tmp/ipython-input-1393109398.py:2

In [ ]:
print(type(xyz))

<class 'pyspark.core.rdd.RDD'>

In [ ]:
xyz.collect()
# very expensive for large dataset

[1, 2, 3, 4]

In [ ]:
xyz.take(2)
# we can take this this will give only limited number of records

[1, 2]

In [ ]:
xyz.first()
# this give only one record

1

In [ ]:
xyz.getNumPartitions()

2

In [ ]:
abc  = xyz.coalesce(1)

In [ ]:
abc.getNumPartitions()

1

In [ ]:
rama = abc.repartition(4)

In [ ]:
rama.getNumPartitions()

4

In [ ]:
words = sc.parallelize(['ram','anil','anil','rakesh'])
words.getNumPartitions(
)
words_filter  = words.filter(lambda x:'anil' in x )
words_filter.collect()

['anil', 'anil']

In [ ]:
alpha = words.map(lambda x:(x,1))
alpha

PythonRDD[127] at RDD at PythonRDD.scala:56

In [ ]:
print(alpha)

PythonRDD[127] at RDD at PythonRDD.scala:56

In [ ]:
alpha.collect()

[('ram', 1), ('anil', 1), ('anil', 1), ('rakesh', 1)]

In [ ]:
myresult = alpha.reduceByKey(lambda x,y:(x+y))
myresult.collect()

[('ram', 1), ('anil', 2), ('rakesh', 1)]

In [ ]:
myresult.count()

3

In [ ]:
myresult.coalesce(1).saveAsTextFile("/content/sample_data/output1.txt")

Py4JJavaError: An error occurred while calling o651.saveAsTextFile.
: org.apache.hadoop.mapred.FileAlreadyExistsException: Output directory file:/content/sample_data/output1.txt already exists
	at org.apache.hadoop.mapred.FileOutputFormat.checkOutputSpecs(FileOutputFormat.java:131)
	at org.apache.spark.internal.io.HadoopMapRedWriteConfigUtil.assertConf(SparkHadoopWriter.scala:303)
	at org.apache.spark.internal.io.SparkHadoopWriter$.write(SparkHadoopWriter.scala:73)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopDataset$1(PairRDDFunctions.scala:1094)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopDataset(PairRDDFunctions.scala:1092)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$4(PairRDDFunctions.scala:1065)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1029)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$3(PairRDDFunctions.scala:1011)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1010)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$2(PairRDDFunctions.scala:967)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:965)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$2(RDD.scala:1631)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1631)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$1(RDD.scala:1617)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:417)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1617)
	at org.apache.spark.api.java.JavaRDDLike.saveAsTextFile(JavaRDDLike.scala:565)
	at org.apache.spark.api.java.JavaRDDLike.saveAsTextFile$(JavaRDDLike.scala:564)
	at org.apache.spark.api.java.AbstractJavaRDDLike.saveAsTextFile(JavaRDDLike.scala:46)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:108)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [ ]:
abc = ["my name is anil","his home at bikaner","his has"]

In [ ]:
abc = sc.textFile("/content/sample_data/war_and_peace.txt")

In [ ]:
abc.take(5)

In [ ]:
abc.getNumPartitions()

In [ ]:
# find the word count

In [ ]:
mycont = abc.flatMap(lambda x:x.split(" "))
mycont.take(5)

In [ ]:
rama = mycont.map(lambda x:(x,1))
rama.take(5)

In [ ]:
final_result = rama.reduceByKey(lambda x,y:(x+y))
final_result.take(5)

In [ ]:
final_result.saveAsTextFile('/content/sample_data/output_war_and_peace.txt')

In [ ]:
final_result.getNumPartitions()

In [ ]:
# how to read csv file in rdd

In [ ]:
mycont = sc.textFile('/content/sample_data/movies.csv')
mycont.take(10)

In [ ]:
myrat  = sc.textFile('/content/sample_data/ratings.csv')
myrat.take(4)

In [ ]:
myrat.getNumPartitions()

In [ ]:
mycont.getNumPartitions()

In [ ]:
myrat.cache()

In [ ]:
myrat.count(

)

In [ ]:
# ROW contains the name of columns also so we need to exclude that first row
pure_data = mycont.filter(lambda line:not line.startswith('movieId'))
pure_data.take(5 )

In [ ]:
pure_rating = myrat.filter(lambda line: not line.startswith('userId'))
pure_rating.take(5)

In [ ]:
movies_by_moiveId = pure_data.map(lambda line :line.split(",")).map(lambda token:(int(token[0]),token[1]))
movies_by_moiveId.first()

In [ ]:
# rdd dont know schema like data frame ,rdd know position

In [ ]:
rating_by_userId = pure_rating.map(lambda line:line.split(",")).map(lambda token:(int(token[1]),float(token[2])))
rating_by_userId.first()

In [ ]:
# how to join
movies_by_moiveId.join(rating_by_userId).first()

In [ ]:
# find out top 10 movies based on the highesst average rating,consider only those movies that have got atleat 100 ratings

In [ ]:
# initialize spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()
# create dataframe from a list of tuples

data = [("alice",34),("bob",45),("cathy",29)]
columns = ["name","age"]
df = spark.createDataFrame(data,columns)
df.show()

+-----+---+
| name|age|
+-----+---+
|alice| 34|
|  bob| 45|
|cathy| 29|
+-----+---+

In [ ]:
type(df)

pyspark.sql.classic.dataframe.DataFrame

In [ ]:
df.printSchema()

In [ ]:
# select specific columns

df.select("name").show()

In [ ]:
mydf1 = df.select("name")
mydf1.show()

In [ ]:
df.filter(df.age>30).show()

In [ ]:
## how to save the output dataframe to the hdfs?

mydf1.write.csv("/content/sample_data/emp.csv")

In [ ]:
mydf1.rdd.getNumPartitions()

In [ ]:
# add the new colummn to existing dataframe
df = df.withColumn("age_in_5_years", df.age+5)

In [ ]:
df.show()

In [ ]:
data = [('hr',4000),('it',3453),('hr',343),('it',3432)]
column = ["dept","salary"]
df2 = spark.createDataFrame(data,column)
df2.show()

In [ ]:
df3 = df2.groupby("dept").count()

In [ ]:
df3.write.json("/content/sample_data/play1.json")

In [ ]:
## how to create frame for hdfs files(csv,json,orc,parquet,text)
## mydf = spark.read.csv
## mydf = spark.read.json

mydf = spark.read.csv("/content/sample_data/movies.csv",inferSchema=True,header = True)
mydf.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
## retrive all movie id ,movie name
mydf.select("movieId","title").show()

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|      1|    Toy Story (1995)|
|      2|      Jumanji (1995)|
|      3|Grumpier Old Men ...|
|      4|Waiting to Exhale...|
|      5|Father of the Bri...|
|      6|         Heat (1995)|
|      7|      Sabrina (1995)|
|      8| Tom and Huck (1995)|
|      9| Sudden Death (1995)|
|     10|    GoldenEye (1995)|
|     11|American Presiden...|
|     12|Dracula: Dead and...|
|     13|        Balto (1995)|
|     14|        Nixon (1995)|
|     15|Cutthroat Island ...|
|     16|       Casino (1995)|
|     17|Sense and Sensibi...|
|     18|   Four Rooms (1995)|
|     19|Ace Ventura: When...|
|     20|  Money Train (1995)|
+-------+--------------------+
only showing top 20 rows

In [ ]:
## retive the movie name where movieid >=5

mydf.filter(mydf.movieId>=5).select("movieId","title").show()

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|      5|Father of the Bri...|
|      6|         Heat (1995)|
|      7|      Sabrina (1995)|
|      8| Tom and Huck (1995)|
|      9| Sudden Death (1995)|
|     10|    GoldenEye (1995)|
|     11|American Presiden...|
|     12|Dracula: Dead and...|
|     13|        Balto (1995)|
|     14|        Nixon (1995)|
|     15|Cutthroat Island ...|
|     16|       Casino (1995)|
|     17|Sense and Sensibi...|
|     18|   Four Rooms (1995)|
|     19|Ace Ventura: When...|
|     20|  Money Train (1995)|
|     21|   Get Shorty (1995)|
|     22|      Copycat (1995)|
|     23|    Assassins (1995)|
|     24|       Powder (1995)|
+-------+--------------------+
only showing top 20 rows

In [ ]:
# total number of movies by movieid wise?
mydf.groupBy("movieId").count().show()

+-------+-----+
|movieId|count|
+-------+-----+
|    148|    1|
|    471|    1|
|    496|    1|
|    833|    1|
|   1088|    1|
|   1238|    1|
|   1342|    1|
|   1580|    1|
|   1591|    1|
|   1645|    1|
|   1829|    1|
|   1959|    1|
|   2122|    1|
|   2142|    1|
|   2366|    1|
|   2659|    1|
|   2866|    1|
|   3175|    1|
|   3794|    1|
|   3918|    1|
+-------+-----+
only showing top 20 rows

In [ ]:
## how to create dataframe :json files of hdfs
mydf = spark.read.json("/content/sample_data/sales.json")
mydf.show()

In [ ]:
ratings = spark.read.csv("/content/sample_data/ratings.csv",inferSchema=True,header=True)
ratings.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [ ]:
movies = spark.read.csv("/content/sample_data/movies.csv",inferSchema=True,header=True)
movies.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
final_table = movies.join(ratings,movies.movieId==ratings.movieId)
final_table.show()

+-------+--------------------+--------------------+------+-------+------+---------+
|movieId|               title|              genres|userId|movieId|rating|timestamp|
+-------+--------------------+--------------------+------+-------+------+---------+
|      1|    Toy Story (1995)|Adventure|Animati...|     1|      1|   4.0|964982703|
|      3|Grumpier Old Men ...|      Comedy|Romance|     1|      3|   4.0|964981247|
|      6|         Heat (1995)|Action|Crime|Thri...|     1|      6|   4.0|964982224|
|     47|Seven (a.k.a. Se7...|    Mystery|Thriller|     1|     47|   5.0|964983815|
|     50|Usual Suspects, T...|Crime|Mystery|Thr...|     1|     50|   5.0|964982931|
|     70|From Dusk Till Da...|Action|Comedy|Hor...|     1|     70|   3.0|964982400|
|    101|Bottle Rocket (1996)|Adventure|Comedy|...|     1|    101|   5.0|964980868|
|    110|   Braveheart (1995)|    Action|Drama|War|     1|    110|   4.0|964982176|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|     1|    151|   5.0|964984041|
|    157|Canadian Bacon (1...|          Comedy|War|     1|    157|   5.0|964984100|
|    163|    Desperado (1995)|Action|Romance|We...|     1|    163|   5.0|964983650|
|    216|Billy Madison (1995)|              Comedy|     1|    216|   5.0|964981208|
|    223|       Clerks (1994)|              Comedy|     1|    223|   3.0|964980985|
|    231|Dumb & Dumber (Du...|    Adventure|Comedy|     1|    231|   5.0|964981179|
|    235|      Ed Wood (1994)|        Comedy|Drama|     1|    235|   4.0|964980908|
|    260|Star Wars: Episod...|Action|Adventure|...|     1|    260|   5.0|964981680|
|    296| Pulp Fiction (1994)|Comedy|Crime|Dram...|     1|    296|   3.0|964982967|
|    316|     Stargate (1994)|Action|Adventure|...|     1|    316|   3.0|964982310|
|    333|    Tommy Boy (1995)|              Comedy|     1|    333|   5.0|964981179|
|    349|Clear and Present...|Action|Crime|Dram...|     1|    349|   4.0|964982563|
+-------+--------------------+--------------------+------+-------+------+---------+
only showing top 20 rows

In [ ]:
## find out top 10 movies on the highest avg rating,consider only those movies that have got at least 100 rating
from pyspark.sql.functions import avg, count, desc

result = (
    ratings
    .groupBy("movieId")
    .agg(
        avg("rating").alias("avg_rating"),
        count("rating").alias("rating_count")
    )
    .filter("rating_count >= 100")
    .orderBy(desc("avg_rating"))
    .limit(10)
)

result.show()

+-------+-----------------+------------+
|movieId|       avg_rating|rating_count|
+-------+-----------------+------------+
|    318|4.429022082018927|         317|
|    858|        4.2890625|         192|
|   2959|4.272935779816514|         218|
|   1221| 4.25968992248062|         129|
|  48516|4.252336448598131|         107|
|   1213|             4.25|         126|
|    912|             4.24|         100|
|  58559|4.238255033557047|         149|
|     50|4.237745098039215|         204|
|   1197|4.232394366197183|         142|
+-------+-----------------+------------+